body {
    background-color: white;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

body > div {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

body *::selection {
    background-color: rgba(233, 49, 193, 0.6);
    color: rgb(255, 255, 255);
}

.container {
    max-width: 960px;
    width: 960px;
    margin: 0 auto;
}

.page-title {
    font-size: 1.8rem;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 40px;
    margin-bottom: 40px;
}
